.link1 {

    font-style: oblique ;
    text-decoration:none;
    margin-left: 5px;
    padding: 5px;
    border-top-color: black;
    color: black;
    
}  


h1{
    color :rgb(255, 255, 255);
    font-style: oblique;
    font-size: 150%;
    text-align: center;
    padding: 50px;
}

body{
    background-image: url(ha.jpg);
    background-position:center;
    background-size: 100%;
    
   
    
}
ul{
    list-style: none;
    padding-bottom: -50px;

}
li{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: -70px;
    font-size: 20px;

}
li:first-child{
    margin-left:-16px;
}
section{
    display: flex;
}


header{
    
    padding-top: 10px;
    height: 200px;
    padding-left: 20px;

}


@media screen  and  (max-width: 500px) {
}

button{
    padding:10px;
    
}
form label {
    margin: 10px 0 px;
}

form input, form textarea {
    width: 50%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 14px;
    border: none;
    box-shadow: 0 0 15px  rgb(88, 15, 108);;

}

form{

    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(100%);
    padding-top: 40px;
    padding-bottom: 1px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    width: 50%;
   

}

 h2{
    text-align: center;
 }



footer {
    font-size: 80%;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 0px 0;
    padding-bottom: 0px;
    left: 0;
    background-color: #ce6ddb;
    text-align: center;
    height: 7%;
    border-radius: 0%;
    color: black;
    padding-top: 5px;
    
}