::-webkit-scrollbar{
    width: 10px;
    background: #f7c4c45f;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#4c99d1,#926ddb,#f7c4c4)
    

}

.kinesu{  
    display: inline-block;
    font-size: 19px;
    font-style: oblique ;
    text-decoration:none;
    padding-top: 4px;
    padding-left: 14px; 
    

}

.scroll-container {
    background-color: rgba(98, 7, 112, 0.22);
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    display: flex;
    gap: 10px;
    width: 80%;
    max-width: 1200px;
    height: 400px;
    margin: 20px auto;
}

.kinesu{  
    display: inline-block;
    font-size: 19px;
    font-style: oblique ;
    text-decoration:none;
    padding-top: 4px;
    padding-left: 14px;

}
.pic{  
    display: inline-block;
    font-size: 19px;
    font-style: oblique ;
    text-decoration:none;
    padding-top: 4px;
    padding-left: 14px;

}
.link {

    font-style: oblique ;
    text-decoration:none;
    margin-left: 5px;
    padding: 5px;
    border-top-color: #f7c4c4;
    
}  

.link1 {

    font-style: oblique ;
    text-decoration:none;
    margin-left: 5px;
    padding: 5px;
    color:  #eb5c52;
}

h1{
    color :white;
    font-style: oblique;
    font-size: 5rem;
    padding: -1px;
    margin: -5px;
    margin-left:
    margin-top: -20;
    text-align: center;
}
body{
    background-color: rgb(193, 168, 211);
}
ul{
    list-style: none;
    padding-bottom: 50px;

}
li{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: -70px;
    font-size: 19px;

}
li:first-child{
    margin-left:-16px;
}
section{
    display: flex;
}


section.feature-box.sec_1 li{
    align-items: center;
    backdrop-filter: blur(100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 30px;
    color: white;
    padding: 5px;
    border-radius: 20px;
    backdrop-filter: blur(100%);  

}
.bar{

    background-color:#fdda72
    margin-right: 75%;

  
}

header{
    background-image:url(to.png);
    background-position:100%;
    background-size:100%;
   

}
p{
    color: ad00fa;
    text-align: center;
}

  

@media screen  and  (max-width: 700px) {
}
header{
    height:300px;
    background-position: 0px;
    background-size: 100%;
}

 h2{
    text-align: center;
    color :white;
    font-style: oblique;
    font-size: 100;
    padding: 0px;
    padding-top: 0px;
    margin: -5px;
    margin-left: 300px;
    margin-top: 0px;
 }


.container {
    height: 500px; 
    align-items: center;
}


.about-me {
    display: flex;
    align-items: flex-start; 
}


.about-me img {
    width: 25%; 
    border-radius: 80%; 
    margin-right: 30px; 
    margin-left: 30px;
    margin-top: -30px;
}


.about-me-text {
    width: 70%; 
    text-align: center; 
   
}


.about-me h1 {
    text-align: center; 
    margin-top: -2rem;
}


.about-me p {
    text-align: center; 
    padding-right: 50px;
}
     
.contact-section {
    padding: 32px; 
    margin-top: 20px; 
    text-align: center; 
    margin-bottom: 10px;
}

.contact-section h2 {
    font-size: 50px; 
    margin-top: -9rem; 
   text-align: center;
}

.contact-section p {
    font-size: 15px; 
    margin: 8px 0; 
}

.contact-section .fa {
    color: rgb(147, 38, 197); 
}

.footer {
    font-size: 80%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7c4c4; 
    text-align: center;
    height: 30px; 
    color: #eb5c52; 
    line-height: 20px; 
    padding: 5px; 
    z-index: 1000; 
}
footer {
    font-size: 80%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7c4c4; 
    text-align: center;
    height: 20px; 
    color: #eb5c52; 
    line-height: 20px; 
    padding: 5px; 
    z-index: 1000; 
}
